@{
    ViewBag.Title = "Home Page";
}

<h1>SomeApp</h1>
<div id="welcome-messages"></div>

@section scripts
{
    <script src="~/Scripts/jquery.signalR-2.3.0.min.js"></script>
    <script src="~/signalr/js"></script>
    <script src="~/Scripts/SignalR.js"></script>
}